pydantic
langchain
deepagents==0.3.0
tavily==1.1.0
python-dotenv==1.2.1
langchain-google-genai
requests
beautifulsoup4
markdownify
sqlmodel
ipywidgets
ipython
unstructured
markdown
opensearch-py
typer[all]
langchain-mcp-adapters
ghapi
ruff
tree-sitter
tree-sitter-java
tree-sitter-markdown
